@media (max-width: 1199px){
    .container {
        max-width: 900px;
    }

    .img img {
        width: 200px;
    }

    .about-text {
        right: 0;
    }

    .img h3 {
        left: 20px;
    }

}

@media (max-width: 991px){

    .container {
        max-width: 700px;
    }

    .laptop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .img img {
        width: 100%;
    }

    .wrap .img:nth-child(1), .wrap .img:nth-child(2) {
        margin-bottom: 30px;
    }

    #about {
        padding: 100px 0;
    }

    .about-text {
        position: static;
        width: 500px;
        padding: 0;
        margin: 50px auto 0;
    }

    .gadjet img {
        width: 700px;
    }

    .footer-row {
        display: block;
    }

    .left, .right {
        text-align: center;
    }

    .footer-line {
        display: block;
        padding-right: 0;
        margin-bottom: 16px;
    }

    .footer-line::after {
        left: 50%;
        margin-left: -12px;
    }

    .footer-address {
        margin: 50px 0 18px;
    }
}

@media (max-width: 767px){

    .header-link {
        display: none;
    }

    /* .menu {
        display: block;
    } */

    .logo, .menu-toggle {
        z-index: 2;
    }

    .header-nav {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        /* margin-top: 24px; */
        padding: 24px;
        /* text-align: center; */
        background-color: #000;
        z-index: 1;
    }
    /* .intro.on:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        height: 600px;
        background: linear-gradient(180deg, #2D314D 0%, rgba(45, 49, 77, 0.0001) 100%);
    } */
    .intro .menu-toggle.open {
        display: block;
    }
    .intro .menu-toggle.close {
        display: none;
    }
    .intro.on .menu-toggle.open {
        display: none;
    }
    .intro.on .menu-toggle.close {
        display: block;
    }

    .header-link {
        display: block;
        font-size: 18px;
        padding: 15px 0;
    }
    .header-link:after {
        bottom: 0;
        /* width: 50px; */
        left: 3%;
        /* margin-left: -25px; */
    }
    .menu-toggle {
        display: block;
        border: none;
        background: transparent;
    }

    .intro {
        padding-bottom: 100px;
    }

    .container {
        max-width: 500px;
    }

    .border-title {
        width: 500px;
        margin: 130px auto;
    }

    .title {
        font-size: 56px;
    }

    .gadjet {
        text-align: center;
    }

    .gadjet img {
        width: 500px;
    }

    .about-text h2 {
        font-size: 40px;
    }

    .img {
        width: 100%;
    }

    .creations {
        position: relative;
    }

    .creations-link {
        order: 1;
        margin: auto;
    }

    .first {
        margin: 0;
    }

    .img {
        margin-bottom: 24px;
    }

}

@media (max-width: 565px){

    .intro {
        padding: 40px 0 50px;
    }

    .container {
        max-width: 400px;
    }

    .border-title, .gadjet img, .about-text {
        width: 400px;
    }

    .title {
        font-size: 40px;
    }

    .about-text h2 {
        font-size: 32px;
    }
}

@media (max-width: 480px){

    .container {
        max-width: 320px;
    }

    .border-title {
        padding: 24px;
    }

    .gadjet img {
        width: 320px;
    }

    #about {
        padding: 70px 0;
    }

    .about-text {
        width: 280px;
    }

    .creations-title-name {
        font-size: 32px;
    }

    /* .creations-link {
        left: 32%;
    } */

    .img-name {
        font-size: 24px;
        width: 140px;
        bottom: 20px;
    }
}